<div class="container">
  <h1 class="mt-4 mb-3">
    温泉一覧
    <%= link_to "新規登録", new_admin_onsen_path, class: 'btn btn-primary' %>
  </h1>

  <div class="row">
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>ID</th>
          <th>温泉名</th>
          <th>住所</th>
          <th>営業状況</th>
        </tr>
      </thead>
      <tbody>
        <% @onsens.each do |f| %>
          <tr>
            <td><%= f.id %></td>
            <td>
              <%= link_to admin_onsen_path(f.id), data: {"turbolinks"=>false} do %>
                <%= f.name %>
              <% end %>
            </td>
            <td><%= f.address.gsub(/日本、/, "") %></td>
            <td><%= f.is_active_i18n %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @onsens %>
  </div>
</div>