<div class="container">
  <h1 class="mt-4 mb-3">
    口コミ一覧
    <div class="mt-2">ユーザー名：<%= @user.name %></div>
  </h1>
  <hr>
  <% @reviews.each do |f| %>
  <div class="row mt-4 justify-content-center">
    <div class="col-md-11">
      <div class="media row">
        <%= image_tag f.user.get_image(100, 100), class: "bd-placeholder-img align-self-start mr-3" %>
        <div class="media-body row border">
          <div class="col-md-9">
            <h4 class="mt-2">温泉名：<%= f.onsen.name %></h4>
            <h4 class="mt-0"><%= f.title %></h4>
            <p><%= simple_format(f.body) %></p>
          </div>
          <div class="col-md-3">
            <div class="d-flex justify-content-end">
              <span class="mt-2" id="star-rate-<%= f.id %>"></span>
              <span class="ml-2 mt-2"><%= f.rate.to_f.round(1) %>点</span>
              <script>
                var elem = document.getElementById('star-rate-<%= f.id %>')
                var opt = {
                  size: 36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,
                  readOnly: true,
                  score: "<%=f.rate.to_f.round(1) %>",
                }
                raty(elem, opt);
              </script>
            </div>
            <div class="position-absolute" style="bottom: 0; right: 16px;">投稿日: <%= f.created_at.strftime("%Y年%m月%d日") %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 align-self-center">
      <%= link_to "削除", admin_user_review_path(f.user.id, f.id), method: :delete, class: "btn btn-danger ml-1", "data-confirm" => "本当に削除しますか？", data: {"turbolinks"=>false} %>
    </div>
  </div>
  <% end %>
  <div class="d-flex justify-content-center mt-4 mb-5">
    <%= paginate @reviews %>
  </div>
</div>