<div class="container">
  <h1 class="mt-4 mb-3">訪問済み温泉一覧</h1>
  <div class="d-flex justify-content-end">
    <ul class="mb-1">
      <span class="mr-2">並び順</span>
      <span class="mr-2">|</span>
      <span class="mr-2">
        <%= link_to "五十音順", user_visits_path(sort: 0), data: {"turbolinks"=>false} %>
      </span>
      <span class="mr-2">|</span>
      <span class="mr-2">
        <%= link_to "評価高い順", user_visits_path(sort: 1), data: {"turbolinks"=>false} %>
      </span>
      <span class="mr-2">|</span>
      <span>
        <%= link_to "評価低い順", user_visits_path(sort: 2), data: {"turbolinks"=>false} %>
      </span>
    </ul>
  </div>
  <hr class="mt-0">
  <div class="row mt-4">
    <% @visits.each do |f| %>
    <div class="col-md-4 mb-3">
      <div class="card border-dark">
        <div id="carouselExampleControls_<%= f.onsen.id %>" class="carousel slide" data-ride="carousel">
          <% if user_signed_in? %>
            <% if f.onsen.visited_by?(current_user) %>
              <%= link_to onsen_visits_path(f.onsen_id), method: :delete, data: {"turbolinks"=>false} do %>
                <i class="fas fa-3x fa-solid fa-bookmark position-absolute bookmark"></i>
              <% end %>
            <% end %>
          <% end %>
          <div class="carousel-inner">
            <div class="carousel-item active" style="height: 200px;">
              <% f.onsen.images.first(1).each do |image| %>
                <%= image_tag image, class: "carousel_image w-100"  %>
              <% end %>
            </div>
            <% f.onsen.images.drop(1).each do |image| %>
              <div class="carousel-item" style="height: 200px;">
                <%= image_tag image, class: "carousel_image w-100" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls_<%= f.onsen.id %>" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls_<%= f.onsen.id %>" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to onsen_path(f.onsen.id), data: {"turbolinks"=>false} do %>
              <%= f.onsen.name %>
            <% end %>
          </h5>
          <p class="card-text mb-2"><%= f.onsen.introduction %></p>
          <div class="row">
            <div class="offset-md-1 col-md-4">
              <p class="align-middle">口コミ評価</p>
            </div>
            <div class="col-md-7">
              <div id="star-rate-<%= f.id %>"></div>
              <script>
                var elem = document.getElementById('star-rate-<%= f.id %>')
                var opt = {
                  size: 36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,
                  readOnly: true,
                  score: "<%=f.onsen.reviews.average(:rate).to_f.round(1) %>",
                }
                raty(elem, opt);
              </script>
            </div>
            <% if user_signed_in? %>
              <div class="col-md-6">お気に入り登録</div>
              <div class="offset-md-1 col-md-5">
                <% if f.onsen.favorited_by?(current_user) %>
                  <%= link_to onsen_favorites_path(f.onsen_id), method: :delete, data: {"turbolinks"=>false} do %>
                    <i class="fas fa-solid fa-heart icon"></i>
                  <% end %>
                <% else %>
                  <%= link_to onsen_favorites_path(f.id), method: :post, data: {"turbolinks"=>false} do %>
                    <i class="fas fa-solid fa-heart icon2"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= paginate @visits %>
</div>