<div class="container">
  <h1 class="mt-4 mb-3">会員一覧</h1>
  <div class="row">
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>ID</th>
          <th>会員名</th>
          <th>レヴュー件数</th>
          <th>会員ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |f| %>
          <tr>
            <td><%= f.id %></td>
            <td>
              <%= link_to admin_user_path(f.id), data: {"turbolinks"=>false} do %>
                <%= f.name %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_user_reviews_path(f.id), data: {"turbolinks"=>false} do %>
                <%= f.reviews.count %>件
              <% end %>
            </td>
            <td>
              <% if f.is_deleted == false %>
                有効
              <% else %>
                退会済
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-md-12">
      <div class="d-flex justify-content-center mt-4 mb-5">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>