<div class="container">
  <h1 class="mt-4 mb-3">ログイン</h1>
  <p class="alert text-danger"><%= alert %></p>
  <hr>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <h3><%= f.label :email, "メールアドレス", class: "col-form-label" %></h3>
      </div>
      <div class="col-md-6 m-auto">
        <%= f.email_field :email, :placeholder =>"メールアドレス", autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <h3><%= f.label :password, "パスワード", class: "col-form-label" %></h3>
      </div>
      <div class="col-md-6 m-auto">
        <%= f.password_field :password, :placeholder =>"パスワード", autofocus: true, autocomplete: "current-password", class: "form-control" %>
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <h3><%= f.submit "ログイン", class: 'btn btn-primary' %></h3>
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <h3>新規登録は<%= render "public/shared/links" %>から</h3>
      </div>
    </div>
  </div>
  <% end %>
</div>
