<!DOCTYPE html>
<html>
  <head>
    <title>OnnsenDays</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fw-bolder">
    <header>
      <nav class="nav navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand">
            <h4 class="text-white font-italic">OnnsenDays</h4>
          </a>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "温泉一覧", admin_onsens_path, class: 'btn nav-link text-black' %>
                </li>
                <li class="nav-item">
                  <%= link_to "泉質・効能一覧", admin_genre_tags_path, class: 'btn nav-link text-black' %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_users_path, class: 'btn nav-link text-black' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn nav-link text-black' %>
                </li>
              <% elsif user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "Top", root_path, class: 'btn nav-link text-black' %>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", users_mypage_path, class: 'btn nav-link text-black' %>
                </li>
                <li class="nav-item">
                  <%= link_to "お気に入り温泉一覧", user_favorites_path(current_user), class: 'btn nav-link text-black' %>
                </li>
                <li class="nav-item">
                  <%= link_to "訪問済み温泉一覧", user_visits_path(current_user), class: 'btn nav-link text-black' %>
                </li>
                <li class="nav-item">
                  <%= link_to "温泉一覧", onsens_path, class: 'btn nav-link text-black' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn nav-link text-black' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Top", root_path, class: 'btn nav-link text-black' %>
                </li>
                <li class="nav-item">
                  <%= link_to "温泉一覧", onsens_path, class: 'btn nav-link text-black' %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: 'btn nav-link text-black' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", user_session_path, class: 'btn nav-link text-black' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post, class: 'btn nav-link text-black' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
